apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-gitops-v2
  labels:
    app: nginx-gitops-v2label
spec:
  replicas: 5
  selector: # 관리대상 Pod를 선택하는 기준 라벨 A
    matchLabels:
      app: label4pod
  template: # 해당 Deploy가 생성할 Pod 에 붙일 라벨 B
    metadata:
      labels:
        app: label4pod
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 80
        
# 라벨 A와 B가 같지 않으면 Deployment는 자기가 생성한 Pod를 인식 불가
